<div id="contact" class="contact-section">
    <section class="contact-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get in contact</h2>
                    <h3>We are keen to collaborate with members of the broader community. Please get in contact with us for more information.</h3>
                </div>
            </div>
            <div class="row">
                <div class="contact-form">
                    <form class="contact-formData" name="contactForm" id="contactForm" action="{{site.contactFormAction}}" method="POST">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" required id="company" name="company" required data-validation-required-message="Please enter your name." autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" name="email" required data-validation-required-message="Please enter your email address." autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <select class="rev-select-box" id="careerStage" name="careerStage" autocomplete="off">
                                        <option value="" selected>Career Stage</option>
                                        {% for stage in site.data.contact.careerStage %}
                                            <option value="{{stage.value}}">{{stage.display}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <select class="rev-select-box" id="experience" name="experience" autocomplete="off">
                                        <option value="" selected>How much programming experience do you have?</option>
                                        {% for stage in site.data.contact.programmingExperience %}
                                            <option value="{{stage.value}}">{{stage.display}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <select class="rev-select-box" id="researchField" name="researchField" autocomplete="off">
                                        <option value="" selected>What field(s) of research do you work in?</option>
                                        {% for stage in site.data.contact.researchField %}
                                            <option value="{{stage.value}}">{{stage.display}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-checkbox">
                                        You can contact me (rarely) by email with additional information about this project (e.g., beta testing opportunities) or requests for feedback, additional questions, etc.) 
                                        <input type="checkbox" name="contactByEmail">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-checkbox">
                                        <div class="custom-checkboxCaption">I’ve read and I agree to the <a href="{{site.baseurl}}/privacy_policy">Policy.</a></div>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;">
                            <input type="checkbox" name="incredible_turquoise_glossy_chair" value="1" tabindex="-1" autocomplete="no">
                        </div>
                        <div class="text-center contact-submit">
                            <button type="submit" class="btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
