<div id="contactPage" class="contact-section">
    <section class="contact-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get in contact</h2>
                    <h3>We are very keen to collaborate with members of the broader community. To contact the ModECI investigators directly, please mail: <b>info -at- modeci.org</b>.
                      <br/><br/>Additionally, discussions around the standard and related software are taking place on our <a href ="https://github.com/ModECI/MDF/discussions" >GitHub Discussions</a> forum, where you can ask your own questions about the initiative.</h3>
                </div>
            </div>
        </div>
    </section>
</div>
