  <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="col-xs-12 col-md-7">
                        <div class="footer-title">
                            <div class="footer-icon">
                                <img src="{{site.baseurl}}../img/logo.png" alt="footerLogo" width="48">
                                <img src="{{site.baseurl}}../img/header-ModECI.png" alt="footer-ModECI">
                            </div>
                            <p>
                                {{site.description}}
                            </p>
                            <p>
                                &#169; {{site.copyright}} - <a href={{site.metacellLink}} target="_blank">Website by MetaCell</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 footer-col">
                    <div class="footer-menu">
                        <h5>Navigation</h5>
                        <ul class="list-inline quicklinks">
                            <li>
                                <a class="page-scroll" href="{{site.baseurl}}#homePage">Home</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{{site.baseurl}}#motivationPage">Motivation</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{{site.baseurl}}#mdfPage">MDF</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{{site.baseurl}}#communityPage">Community</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{{site.baseurl}}#aboutPage">About</a>
                            </li>
                            <li>
                                <a href="{{site.baseurl}}/privacy_policy" target="_blank">Legal Notice</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <h5>Quick link</h5>
                        <ul class="list-inline quicklinks">
                            <li><a href="{{site.githubLink}}" target="_blank">GitHub</a>
                            </li>
                            <li><a class="page-scroll" href="{{site.documentationLink}}">Quick Start</a>
                            </li>
                            <li><a class="page-scroll" href="{{site.baseurl}}#contactPage">Get in contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
