<!-- Header -->
<header id="homePage">
    <div class="container">
        <div class="intro-logo">
            <img src="img/logo.png" alt="bannerLogoicon" width="100">
        </div>
        <div class="intro-text">
            <div class="intro-lead-in">Model Exchange<br>& Convergence Initiative</div>
            <div class="intro-heading">{{site.description}}</div>
        </div>
    </div>
    <div class="homePatteren">
        <div class="container">
            <a href="#psyneulink"  class="psyneulinkLogo anchor-scroll">
                <img src="img/psyneulinkLogo.png" alt="psyneulinkLogo">
            </a>
            <a href="#cognitivescienceLink" class="cognitiveScience whitePattern anchor-scroll">
                <span>Cognitive Science</span>
            </a>
            <a href="#environmentalscienceLink" class="neuroML grayPattern anchor-scroll">
                Environmental Science
            </a>
            <a href="#neuromlLink" class="neuroMLogo grayPattern anchor-scroll">
                <img src="img/neuromLogo.png" alt="neuromLogo">
            </a>
            <a href="#medicalinformaticsLink" class="medical grayPattern anchor-scroll">
                Medical Informatics
            </a>
            <a href="#structuralengineeringLink" class="structural grayPattern anchor-scroll">
                Structural Engineering
            </a>
            <a href="#modeldescriptionformatLink" class="anchor-scroll modelDescriptionFormat">
                Model Description Format
            </a>
            <a href="#emergentLink" class="anchor-scroll grayPattern emergent">
                <img src="img/emergent-logo.png" alt="emergent">
            </a>
            <a href="#nengoLink" class="anchor-scroll grayPattern nengo">
                <img src="img/nengo.png" alt="nengo">
             </a>
             <a href="#onnxLink" class="anchor-scroll grayPattern onnx">
                <img src="img/onnx.png" alt="onnx">
             </a>
             <a href="#supertechLink" class="anchor-scroll grayPattern supertech">
                <img src="img/supertech.png" alt="supertech">
             </a>
            <a href="#actRLink" class="anchor-scroll grayPattern actR">
                ACT-R
            </a>
            <a href="#computationalneuroscienceLink" class="anchor-scroll computationalNeuroscience whitePattern">
                <span>Computational Neuroscience</span>
            </a>
            <a href="#tensorflowLink" class="anchor-scroll tensorFLowLogo grayPattern">
                <img src="img/tensorFLowLogo.png" alt="tensorFLowLogo">
            </a>
            <a href="#machinelearningLink" class="anchor-scroll machineLearning whitePattern">
                <span>Machine Learning</span>
            </a>
            <a href="#pytorchLink" class="anchor-scroll pytoracLogo grayPattern">
                <img src="img/pytoracLogo.png" alt="pytoracLogo">
            </a>
            <a href="#thevirtualbrainLink" class="anchor-scroll theVirtualBrainLogo grayPattern">
                <img src="img/theVirtualBrainLogo.png" alt="theVirtualBrainLogo">
                <span>The Virtual Brain</span>
            </a>
            <a href="#quantumHardwareLink" class="anchor-scroll neuronSimulator grayPattern">
                Quantum Hardware
            </a>
            <a href="#quantumComputingLink" class="anchor-scroll quantum whitePattern">
                <span>Quantum Computing</span>
            </a>
            <a href="#cpuLink" class="anchor-scroll cpuFormat grayPattern">
                <span>CPUs, GPUs, ...</span>
            </a>
            <a href="#sonataLink" class="anchor-scroll onnxFormat grayPattern">
                SONATA
            </a>
            <a href="#" class="manymore">
                and many more...
            </a>
        </div>
    </div>
</header>