<!-- Header -->
<header id="homePage">
    <div class="container">
        <div class="intro-logo">
            <img src="img/logo.png" alt="bannerLogoicon" width="100">
        </div>
        <div class="intro-text">
            <div class="intro-lead-in">Model Exchange<br>& Convergence Initiative</div>
            <div class="intro-heading">{{site.description}}</div>
        </div>
    </div>
    <div class="homePatteren">
        <div class="container">
            <a href="#psyneulink"  class="psyneulinkLogo anchor-scroll">
                <img src="img/psyneulinkLogo.png" alt="psyneulinkLogo">
            </a>
            <a href="#cognitivescience" class="cognitiveScience whitePattern anchor-scroll">
                <span>Cognitive Science</span>
            </a>
            <a href="#neuroml" class="neuroML grayPattern anchor-scroll">
                NeuroML format
            </a>
            <a href="#modeldescriptionformat" class="anchor-scroll modelDescriptionFormat">
                Model Description Format
            </a>
            <a href="#computationalneuroscience" class="anchor-scroll computationalNeuroscience whitePattern">
                <span>Computational Neuroscience</span>
            </a>
            <a href="#tensorflow" class="anchor-scroll tensorFLowLogo grayPattern">
                <img src="img/tensorFLowLogo.png" alt="tensorFLowLogo">
            </a>
            <a href="#machinelearning" class="anchor-scroll machineLearning whitePattern">
                <span>Machine Learning</span>
            </a>
            <a href="#pytorac" class="anchor-scroll pytoracLogo grayPattern">
                <img src="img/pytoracLogo.png" alt="pytoracLogo">
            </a>
            <a href="#thevirtualbrain" class="anchor-scroll theVirtualBrainLogo grayPattern">
                <img src="img/theVirtualBrainLogo.png" alt="theVirtualBrainLogo">
                <span>The Virtual Brain</span>
            </a>
            <a href="#neuronsimulator" class="anchor-scroll neuronSimulator grayPattern">
                NEURON Simulator
            </a>
            <a href="#onnx" class="anchor-scroll onnxFormat grayPattern">
                .onnx format
            </a>
            <a href="#" class="manymore">
                and many more...
            </a>
        </div>
    </div>
</header>