<section id="mdfPage" class="mdf-section">
    <div class="container">
        <div class="col-xs-12 col-md-6 mdf-content-sticky">
            <div class="mdf-subtitle1">
                <img src="img/mdf.png" alt="mdf-logo">
                {% for para in site.data.mdf.mdfIntro %}
                    <p>{{para.para}}</p>
                {% endfor %}
            </div>
            <div class="mdf-actions">
                <p>{{site.data.mdf.mdfStage}}</p>
                <a href="{{site.githubLink}}" target="_blank">See details on GitHub</a>
            </div>
            <div class="mdf-paragraph">
                {{site.data.mdf.mdfDescription}}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="mdf-tabContainer">
                <div class="mdf-tabInner">
                    <h4 class="mdf-heading4">Supported elements</h4>
                    <ul class="nav nav-tabs mdf-tabs">
                        <li class="active"><a data-toggle="tab" href="#all">All</a></li>
                        {% for element in site.elements %}
                            <li><a data-toggle="tab" href="#{{element.anchor}}">{{element.title}}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content mdf-tabContent">
                        <div id="all" class="tab-pane fade in active">
                            {% for element in site.elements %}
                                {% for element in element.options %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <a class="{{element.id}}">{{element.title}}</a>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            <p>{{element.description}}</p>
                                            <a href="{{element.url}}" target="_blank" class="mdf-tabBtn">
                                                More info
                                                <img src="img/iconChevron_right.svg" alt="icon">
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% for element in site.elements %}
                            <div id={{element.anchor}} class="tab-pane fade">
                            {% for element in element.options %}
                                <div class="row">
                                    <div class="col-xs-12 col-md-3">
                                        <a class="{{element.id}}">{{element.title}}</a>
                                    </div>
                                    <div class="col-xs-12 col-md-9">
                                        <p>{{element.description}}</p>
                                        <a href="{{element.url}}" target="_blank" class="mdf-tabBtn">
                                            More info
                                            <img src="img/iconChevron_right.svg" alt="icon">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
