<!-- About Section -->

<section id="outreachyPage" class="mdf-section">
    <div class="container">
        <div class="col-xs-12 col-md-6 mdf-content-sticky">
            <div class="mdf-subtitle1">
                <p class="w-100">{{site.data.outreachy.aboutIntro}}</p>
            </div>
            <div class="mdf-actions">
                <p>{{site.data.outreachy.contributionIntro}}</p>
                <a href="{{site.nsfLink}}" target="_blank">Learn More</a>
            </div>
            <div class="mdf-paragraph">
                {{site.data.outreachy.teamIntro}}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="mdf-tabContainer">
                <div class="about-team">
                    {% for member in site.data.outreachy.teamMembers %}
                    <div class="about-teamRow">
                        <div class="about-teamImg">
                            <img src="img/team/{{forloop.index}}.jpg" alt="{{member.name}}">
                        </div>
                        <div class="about-teamContent">
                            <div class="panel-group" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="aboutheading{{forloop.index}}">
                                        <div class="panel-title">
                                            <h5>{{member.name}}</h5>
                                            <p>{{member.from}}</p>
                                        </div>
                                        <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#outreachy{{forloop.index}}" aria-expanded="false" aria-controls="collapse{{forloop.index}}">
                                            <span>More</span>
                                            <span>Less</span>
                                            <img src="img/iconChevron_right.svg" alt="icon">
                                        </a>
                                    </div>
                                    <div id="about{{forloop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutheading{{forloop.index}}">
                                        <div class="panel-body">
                                            <p>{{member.para}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
